.crypto-container {
    height: 100xh;
    // background-color: blueviolet;
}

.card {
    background-color: rgb(255, 203, 82);
    border-radius: 3px;
    width: 300px;
    box-shadow: 2px 2px 2px black;
    padding: 5px;
    margin: 10px 5px 0px 0px;
}