.fund-container {
    height: 100xh;
    // background-color: blueviolet;
}

.card {
    background-color: rgb(129, 213, 255);
    border-radius: 3px;
    width: 300px;
    box-shadow: 2p 2px 2px black;
}